.bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  .bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

h2 {
    color: #6738B8;
    font-family: 'Rubik';
    text-decoration: none;
}

h3 {
    color: #6738B8;
    font-family: 'Rubik';
    text-decoration: none;
}

p {
    font-family: 'Rubik';

}

.django-button {
    box-align: bottom;

}

button {
    cursor:pointer;
    background-color: #E1E6F0;
    border: none;
    border-radius: 4px;
    color: #6738B8;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Rubik';
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button-center {
    text-align: center;
}

.menu-header {
    background-color: #E1E6F0;
    margin-top: 30;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

body {
    margin: auto;
    margin-top:30;
    margin-bottom:30;
    width: 50%;
    border: 3px solid;
    border-color: #6738B8;
    padding: 10px;
}


.home-button {
  margin-top:30;
  margin-bottom:30;
}