{% load static %}

<html>
    <style>
        body, html {
          height: 100%;
          margin: 0;
        }
        
        .bg {
          /* The image used */
          background-image: url("img_girl.jpg");
        
          /* Full height */
          height: 100%; 
        
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        </style>

{% comment %}
		<img src="{% static 'css/menu/bliss.png' %}" alt="Blissful field">
	
{% endcomment %}

  <head>

    <title>Nextbook</title>
    <link href="//fonts.googleapis.com/css?family=Rubik" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">

  </head>


  <body>
 

    <div class="menu-header">
      <h2>Welcome to the Prairie Library Manager</h2>
    </div>
    <br>
    <div class="selection-body">
      <p>Prairie stores your personal library and suggests your next book when you just can't pick from your TBR pile.</p>
      <br>
      
      <div class="button-center">
      <button type='button' value="newbook"><a href="/newbook/" style="text-decoration:none">Add a new book</a></button>
      </div>

      <br>
      <br>
      <div class="button-center">
      <button type='button' value="nextbook"><a href="/nextbook/" style="text-decoration:none">Get a reading suggestion</a></button>
      </div>
    </div>

    <br>
    <br>
   

  </body>

</html>